<div>

<h1>LOGIN</h1>

<form id="loginForm">

    <label>E-mail</label>
    <input type="text" name="email" id="email"/>

    <label>Password</label>
    <input type="password" name="password" id="password"/>

    <input type="submit" value="LOGIN" />

</form>

<p>
    ¿No estás registrado? <a href="http://localhost:8080/api/views/register">¡Registrate aquí!</a>
</p>

</div>

<script src="/js/login.js"></script>
